.mixin.out
.vscode
rhino.local.properties
README.md
patchouli_data.json
options.txt
minecraftinstance.json
.curseclient
saves/
mods/
logs/
local/
journeymap/
backups/
ESM/
usercache.json
usernamecache.json
crash-reports/
quests_structures
modernfix/structureCacheV1
resourcepacks
user-prefs.json
servers.dat_old
screenshots
shaderpacks
datapacks
downloads
config/powah.json5
config/packetfixer.properties
config/skyblockbuilder/data/dimensions.txt
config/powah.json5
config/packetfixer.properties
fancymenu_data/buddy/buddy_leveling_OWYwMDRmZTItYjlmMy00NGE5LTgxYzMtN2QzMjMwMWZjNjUzLTE3Nzc5MDIwNDY2NzE.json
fancymenu_data/buddy/buddy_save_OWYwMDRmZTItYjlmMy00NGE5LTgxYzMtN2QzMjMwMWZjNjUzLTE3Nzc5MDIwNDY2NzE.json
fancymenu_data/action_favorites.json
kubejs/todo.txt
